{% extends 'layout.html' %}

{% block body %}
<h1>Create Class</h1>
<form action="{{ url_for('createClass') }}" method="post" >
    {{ form.hidden_tag() }}
    <p>
        {{ form.subject.label }}<br>
        {{ form.subject }}<br>
        {% for error in form.subject.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name }}<br>
        {% for error in form.name.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.seats.label }}<br>
        {{ form.seats }}<br>
        {% for error in form.seats.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.lesson.label }}<br>
        {{ form.lesson }}<br>
        {% for error in form.lesson.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.lesson_start.label }}<br>
        {{ form.lesson_start }}<br>
        {% for error in form.lesson_start.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>Date Start</p><br>
    <input type="date" name="date_start" id="date_start"><br>
    <p>Date End</p><br>
    <input type="date" name="date_end" id="date_end"><br>
    <p>{{ form.submit() }}</p>
</form>
{% endblock body %}