<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}
		{% endblock %}</title>
</head>

<body>
	{% block bodyTitle %}

	{% endblock bodyTitle %}
	{% if current_user.is_authenticated %}
	Hi {{ current_user.name }}!
	<a href="{{ url_for('logout') }}">Logout</a>
	<a href="{{ url_for('viewmyClass') }}">view my Class</a>
	{% endif %}

	{% block head %}
	<li><a href="{{ url_for('index') }}">Main</a></li>

	{% if current_user.role == 'admin' %}
	<li><a href="{{ url_for('createClass') }}">Add subject to class</a></li>
	<li><a href="{{ url_for('createSubject') }}">Create new subject</a></li>
	{% endif %}

	{% if not current_user.is_authenticated %}
	<li><a href="{{ url_for('login') }}">Login</a></li>
	{% endif %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	{% endblock head %}

	{% block body %}

	{% endblock %}
</body>
</html>